<!DOCTYPE html>
<html ng-app='myapp'>
<head>
	<title>Your Shopping Cart</title>
</head>
<body>
	<h1>Your Shopping Cart</h1>
	<div ng-controller="CartController">
		<div ng-repeat='item in items'>
			<span>{{item.title}}</span>
			<!-- ng-model可以保持变更与模型同步-->
			<input ng-model = 'item.quantity'>
			<span>{{item.price | currency}}</span>
		    <span>{{item.price * item.quantity | currency}}</span>
		    <button ng-click="remove($index)">Remove</button>
		</div>

		<div>Total: {{total() | currency}}</div>
		<div>discount: {{getDiscount() | currency}} </div>
		<div>subtotal: {{subtotal() | currency}} </div>
	</div>

	<script src="../../node_modules/angular/angular.js"></script>
	<script src="shoppingControl.js"></script>
</body>
</html>